{% extends 'base.html' %}

{% block content %}
<div class="auth-container card">
    <h2>Login</h2>
    <form method="POST">
        <label for="username">Username</label>
        <input type="text" name="username" required class="form-group">

        <label for="password">Password</label>
        <input type="password" name="password" required class="form-group">

        <button type="submit" class="btn">Login</button>
    </form>
    <p style="margin-top: 1rem;">Don't have an account? <a href="{{ url_for('register') }}">Register</a></p>
</div>
{% endblock %}